

/* Musik aussehen */

.sound {

  text-align: center;
  color:white;
  
}


  /* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
  }
  



.icon {
    margin-left: 39%;
    margin-top:-20px;
}



input[type="text"], input[type="password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left:5px;
}
.button {
    width:150px;
    height: 50px;
    font-size:18px;
    background-color:#000;
    color:#fff;
    border:#fff solid 1px;
}

.button:hover {
    background-color:#fff;
    color:#000;
    cursor: pointer;
}

.container-xl {
    background-color: rgba(204, 71, 38, 0.342);
    text-align: center;
}



.container-md{

    text-align: center;
    color: orange;
    background-color: rgba(2, 2, 2, 0.589);
  }

  
.container-sm {
    margin-top: 11%;
    background-color: rgba(204, 71, 38, 0.342);
    text-align: center;
}

.footer {

    background-color: red;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.342);


    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

/* Navigations Leiste */
.navi {
  margin-left: 50px;
}

.fixed {
  position: fixed;
}


/* Diablo Schrieftart */
@font-face {
  font-family: 'Diablo Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Diablo Heavy'), url('diablo.woff') format('woff');
  }

.uralt{
  color: darkorange;
  background-color: transparent;
  text-decoration: none;
}

.set{
  color: green;
  background-color: transparent;
  text-decoration: none;
}

.items {
  font-family:'Diablo Heavy';
  
  color: white;
  text-align: center;
  
}

.title{
  font-family:'Diablo Heavy';
  font-size: 35px;
  color: white;
  text-align: center;

}


.big{
  font-family:'Diablo Heavy';
  font-size: 42px;
  color: white;
  text-align: center;

}

.white {
    color: white;
}


/* Bilder anpassung */

.navbarbild{
  width: 104px;
  height: 90px;

}

.galbild{
  width: 250px;
  height: 250px;
}

.skills{
  width: 50%;
  height: auto;
}

/* ----------------------------------------------------------------------------- *
 *                                Tabellen                                       *
 * ----------------------------------------------------------------------------- */
 .table_1 {
  width: 100%;
  padding-bottom: 1em;
}
.table_1 th {
  font-weight: bold;
  color: #F8CC35;
}
table.table_1 td, table.table_1 th {
  border: 1px solid #28241D;
  padding: 1px;
}
.row_titel_1 {
  background-color: #000000;
  height: 40px;
  border: 1px solid #28241D;
}
.row_1 {
  background-color: #12110f;
  border: 1px solid #28241D;
}
.row_2 {
  background-color: #171614;
  border: 1px solid #28241D;
}
table.table_1 tr:nth-child(odd) {
  background-color: #12110f;
  border: 1px solid #28241D;
}
table.table_1 tr:nth-child(even) {
  background-color: #171614;
  border: 1px solid #28241D;
}
.column_1 {
  border: 1px solid #28241D;
}

/* ----------------------------------------------------------------------------- *
 *                             Media Queries                                     *
 * ----------------------------------------------------------------------------- */
 @media screen and (min-width: 0em) {
  h1 {
      font-size: 1.5em;
      line-height: 1.2em;
      margin: 1%;
  }
  h2 {
      font-size: 1.2em;
      line-height: 1.5em;
      margin: 1%;
  }
  h3 {
      font-size: 1.1em;
      line-height: 1.3em;
      margin: 1%;
  }
  h4 {
      font-size: 1.05em;
      line-height: 1.2em;
      margin: 1%;
  }
  .network_wraper {
      display: none;
  }
  .menu_desktop {
      display: none;
  }
  blockquote {
      margin: 1%;
  }
  #takeover {
      margin: 0em auto;
  }
  p {
      padding: 1%;
  }
  .content_header_autor_text {
      padding-left: 1%;
  }
  .content_header_kommentar_text {
      padding-right: 1%;
  }
  .table_1 {
      font-size: 0.8em;
      line-height: 1em;
      padding: 0px;
      margin: 0px;
  }
  table.table_1 td, table.table_1 th {
      border: 1px solid #28241D;
      padding: 0px;
      font-size: 1em;
      line-height: 1.2em;
  }
  .content_navi li {
      padding-left: 0px;
      padding-right: 0px;
  }
  .spalten_33 {
      width: 100%;
      padding: 0;
      float: left;
      box-sizing: border-box;
      text-align: justify;
  }
  .spalten_33_rechts {
      width: 100%;
      padding: 0;
      float: left;
      box-sizing: border-box;
      text-align: justify;
  }
  .spalten_33_titel {
      font-size: 1.5em;
      line-height: 1.2em;
      margin: 0 0.5em;
      font-family: 'Gentium Book Basic', serif;
      color: #F8CC35;
      text-align: left;
  }
  .spalten_33_werbung {
      width: 100%;
      min-height: 270px;
      padding: 0;
      float: left;
      box-sizing: border-box;
      text-align: center;
  }
  .spalten_66 {
      width: 100%;
      padding: 0;
      float: left;
      box-sizing: border-box;
      text-align: justify;
  }
  .spalten_100 {
      width: 100%;
      padding: 0;
      float: left;
      box-sizing: border-box;
      text-align: justify;
  }
  .mobile_hidden {
      display: none;
  }
  .mobile_view {
      display: block;
      z-index: 999;
  }
  .tablet_hidden {
      display: none;
  }
}
/* @media screen and (min-width: 480px) (iPhone vertikal) */
@media screen and (min-width: 30em) {
  .mobil_hidden {
      display: block;
  }

  .spalten_33, .spalten_33_rechts, .spalten_66, .spalten_100 {
      padding: 0 0.3em;
  }
  .spalten_33 {
      width: 50%;
  }
  .spalten_33_werbung {
      width: 100%;
  }
  .spalten_33_rechts {
      width: 50%;
  }
  .content_left {
      width: 50%;
  }
  .content_right {
      width: 50%;
      text-align: right;
  }
}
/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  h1 {
      font-size: 2em;
      line-height: 1.5em;
      margin: 0 0.5em;
  }
  h2 {
      font-size: 1.5em;
      line-height: 1.2em;
      margin: 0 0.5em;
  }
  h3 {
      font-size: 1.17em;
      line-height: 1.3em;
      margin: 0 0.5em;
  }
  h4 {
      font-size: 1.12em;
      line-height: 1.2em;
      margin: 0 0.5em;
  }
  ul {
      padding-left: 1em;
  }
  .content_navi li {
      padding-left: 5px;
      padding-right: 5px;
  }
  .network_wraper {
      display: block;
  }
  .menu_desktop {
      display: inline-block;
  }
  .mobile_hidden {
      display: block;
  }
  .mobile_view {
      display: none;
  }
  .table_1 {
      font-size: 1em;
  }
  table.table_1 td, table.table_1 th {
      border: 1px solid #28241D;
      padding: 3px;
  }
}
/* 720px */
@media screen and (min-width: 45em) {
}
/* 888px) */
@media screen and (min-width: 55.5em) {
}
/* 1000px */

@media screen and (min-width: 62.5em) {
  .tablet_hidden {
      display: block;
  }
  #takeover {
      width: 980px;
  }
  .spalten_33 {
      width: 32.5%;
  }
  .spalten_33_rechts {
      width: 32.5%;
  }
  .spalten_33_werbung {
      width: 32.5%;
  }
  .spalten_66 {
      width: 65%;
  }
  #cookie_note {
      width: 50%;
      left: 25%;
  }
  .qc-cmp2-persistent-link {
      right: auto !important;
  }
  
  }

/* 1200px
@media screen and (min-width: 75em) {
}
*/
/* 1400px */
@media screen and (min-width: 87.5em) {
#takeover {
  width: 1170px;
}

}

