

di{
    border: thin solid gray;
}


/* Musik aussehen */

.sound {

   text-align: center;
    color:white;

}

.fixed-musik{
  margin-left: 40%;
  position: fixed;
 
}


  /* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
  }
  



.icon {
    margin-left: 39%;
    margin-top:-20px;
}



input[type="text"], input[type="password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left:5px;
}
.button {
    width:150px;
    height: 50px;
    font-size:18px;
    background-color:#000;
    color:#fff;
    border:#fff solid 1px;
}

.button:hover {
    background-color:#fff;
    color:#000;
    cursor: pointer;
}

.container-xxl {
    background-color: rgba(204, 71, 38, 0.342);
    text-align: center;
}

.container-sm {
    margin-top: 11%;
    background-color: rgba(204, 71, 38, 0.342);
    text-align: center;
}

.footer {
  background-color: rgba(0, 0, 0, 0.342);


  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

/* Navigations Leiste */
.navi {
  margin-left: 50px;
}

.fixed {
  position: fixed;
}

.container-md{

  text-align: center;
  color: orange;
  background-color: rgba(2, 2, 2, 0.589);
}

/* Diablo Schrieftart */
@font-face {
  font-family: 'Diablo Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Diablo Heavy'), url('diablo.woff') format('woff');
  }

.uralt{
  color: darkorange;
  background-color: transparent;
  text-decoration: none;
}

.set{
  color: green;
  background-color: transparent;
  text-decoration: none;
}

.items {
  font-family:'Diablo Heavy';
  font-size: 20px;
  color: white;
  text-align: center;
  
}

.title{
  font-family:'Diablo Heavy';
  font-size: 35px;
  color: white;
  text-align: center;

}


.big{
  font-family:'Diablo Heavy';
  font-size: 42px;
  color: white;
  text-align: center;

}


/* Bilder anpassung */

.navbarbild{
  width: 104px;
  height: 90px;

}

.galbild{
  width: 250px;
  height: 250px;
}

.skills{
  width: 50%;
  height: auto;
}